page-contents-paper {

    .header-title{ margin: auto; border: none; }

    ion-col { border: 1px solid; }
    .table { margin-right: 10px; margin-left: 10px; }
    th { border: 1px solid; }
    td { border: 1px solid; }

}
