page-modal {

    .content{
        background-color: #dae9f4;
        position: absolute;
        margin: auto;
        left: 5%;
        width: 90%;
        height: 43%;
        top: 25%;
    }
    // .footer{
    //     height: 60px;
    // }
    // .ion-col1{
    //     text-align: left;
    //     border: 1px solid green;
    //     height: 55px;
    // }
    // .ion-col2{
    //     // text-align: right;
    //     margin: auto;
    //     height: 55px;
    //     border: 1px solid blue; }

    .grid{ height: 55px; margin-bottom: 0px; }
    .neverShow { padding-right: 0px; height: 55px; }
    .item { background-color: #dae9f4; }
    .closeBtn { height: 45px; }
    ::-webkit-scrollbar { display: none; }
}
