page-keyword-result {
    
    .header-title{ margin: auto; }
    .search { background-color: #feee7d;}
    .searchbar-search-icon { display:none; width:0; height:0; }
    .searchbar-input { padding-left: 9px !important; }
    .searchbar { padding-right: 0px;}
    .searchBtn { padding-left: 0px; margin: auto; }

    .button-size{ height:45px; }
    .button-padding{ padding-right: 25px; }
    .button-inner{ justify-content:flex-start; }

}
