page-keyword-result {
  ::-webkit-scrollbar { display: none; }
  ion-content {
    .col {padding-bottom: 0;}
    .button-inner{.icon{margin-right: 10px;}}
    .btn-top-border {border-top: 2px solid map-get($colors, primary);}
    .btn-gray {background-color: lightgray; color: map-get($colors, primary); margin: 0; height: 45px;}
  }
}
