// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;
$text-color-white:  #fafafa;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #27337d,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  accent:     #f2631f
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toolbar-md-background:       map-get($colors, primary);
$toolbar-md-title-text-color: $text-color-white;

$searchbar-md-input-box-shadow: none;
$searchbar-md-input-placeholder-color:  map-get($colors, accent);
$searchbar-md-input-clear-icon-color:   map-get($colors, accent);
$searchbar-md-input-clear-icon-svg:   	"<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='" + $searchbar-md-input-clear-icon-color + "' d='M256.328 22.863c129.414 0 234.698 104.903 234.698 233.847 0 128.944-105.284 233.846-234.698 233.846-129.413 0-234.699-104.902-234.699-233.846 0-128.944 105.286-233.847 234.699-233.847m0-21.259C114.923 1.604.293 115.818.293 256.709s114.63 255.105 256.035 255.105c141.404 0 256.035-114.214 256.035-255.105S397.731 1.604 256.328 1.604z'/><path fill='" + $searchbar-md-input-clear-icon-color + "' d='M145.391 396.905l-16.013-14.05 237.678-268.999 16.012 14.05z'/><path fill='" + $searchbar-md-input-clear-icon-color + "' d='M367.056 396.905L129.378 127.906l16.013-14.05 237.677 268.999z'/></svg>";

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
