// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-icon {
  &[class*="mico-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 32px;
    height: 32px;
  }

  &[class*="mico-calendar-day"] { mask-image: url(../assets/icon/ic_01.svg); }
  &[class*="mico-play-circle"] { mask-image: url(../assets/icon/ic_02.svg); }
  &[class*="mico-chevron-right"] { mask-image: url(../assets/icon/ic_03.svg); }
  &[class*="mico-close-circle"] { mask-image: url(../assets/icon/ic_05.svg); }
  &[class*="mico-bars"] { mask-image: url(../assets/icon/ic_06.svg); }
  &[class*="mico-app"] { mask-image: url(../assets/icon/ic_07.svg); }
  &[class*="mico-question-circle"] { mask-image: url(../assets/icon/ic_08.svg); }
  &[class*="mico-megaphone"] { mask-image: url(../assets/icon/ic_09.svg); }
  &[class*="mico-user"] { mask-image: url(../assets/icon/ic_10.svg); }
  &[class*="mico-user-bold"]   { mask-image: url(../assets/icon/ic_18.svg); }
  &[class*="mico-items"] { mask-image: url(../assets/icon/ic_11.svg); }
  &[class*="mico-calendar-year"] { mask-image: url(../assets/icon/ic_12.svg); }
  &[class*="mico-note"] { mask-image: url(../assets/icon/ic_13.svg); }
  &[class*="mico-key"] { mask-image: url(../assets/icon/ic_14.svg); }
  &[class*="mico-book"]   { mask-image: url(../assets/icon/ic_15.svg); }
  &[class*="mico-editor"] { mask-image: url(../assets/icon/ic_16.svg); }
  &[class*="mico-books"] { mask-image: url(../assets/icon/ic_17.svg); }
  &[class*="mico-check-circle"]   { mask-image: url(../assets/icon/ic_19.svg); }
  &[class*="mico-search"]   { mask-image: url(../assets/icon/ic_20.svg); }
  &[class*="mico-search-flat"] { mask-image: url(../assets/icon/ic_04.svg); }
  &[class*="mico-chevron-left"]   { mask-image: url(../assets/icon/ic_21.svg); }
  &[class*="mico-chevron-down"]   { mask-image: url(../assets/icon/ic_22.svg); }
  &[class*="mico-caret-down"]   { mask-image: url(../assets/icon/ic_23.svg); }
  &[class*="mico-caret-up"]   { mask-image: url(../assets/icon/ic_24.svg); }
}

ion-header {
  ion-icon {
    &[class*="mico-"] {
      width: 24px;
      height: 24px;
    }
  }

  ion-item, ion-item.item-md, ion-item.item-md.item-block {
    .item-inner {
      border: none;
      ion-label {
        margin: 13px 0 6px 3px;
      }
    }
    background-color: map-get($colors, primary);
    padding-left: 12px;
  }
  .item-md {
    .item-button, .buttom-md {
      padding: 9px 15px;
      background: #ffffff;
      margin: 0;
      width: auto;
      height: auto;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      color: map-get($colors, accent);
    }
  }
  .item-md [item-end] {
    margin: 13px 6px 6px 0;
  }
}

ion-footer {
  ion-icon {
    &[class*="mico-"] {
      width: 24px;
      height: 24px;
      display: block;
      margin: 0 auto 10px;
    }
  }
}

ion-toolbar, .toolbar {
  padding-top: 8px;
  ion-searchbar, .searchbar-md {
    padding: 0;
    .searchbar-search-icon {
      display: none;
    }
    .searchbar-input {
      padding-left: 10px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      color: map-get($colors, accent);
    }
  }
}

.PD_alert {
  .alert-wrapper {
    .alert-head{
      background-color: map-get($colors, primary);
      color: #fafafa;
    }
    .alert-message{
      text-align: center;
      padding-bottom: 16px;
      padding-top: 16px;
    }
    .alert-button-group{
      border-top: #dedede solid 1px;
    }
  }
}

.swipe-content { width: 100%; height: 100%; }
