page-tutorial {

  .content{
    background: rgba(0, 0, 0, 0.8);
  }

  .slide-image {
    max-height: 90%;
    max-width: 100%;
  }

  .footer{
    background-color: black;
  }

  .ion-col1{
    text-align: left;
  }

  .item{
    background-color: black;
    color: white;
  }
  
  .ion-col2{
    text-align: right;
  }

  .label{
    max-width: 100%;
  }

}
