page-welcome {
  ::-webkit-scrollbar { display: none; }
  .home-menu {
    margin-top: 200px;
    .button-block-md{ width: 100%; height: 70px; background-color: #3e4885; color: $text-color-white; }
    .button-inner{justify-content: flex-start; .icon{margin-right: 10px;}}
  }
  .home-background {
    background-image: url('../assets/img/a003_bg.jpg');
    background-size: 100% 100%;
  }
  .col {padding-bottom: 0;}
  ion-footer {.button-clear-md {height: 48px; .button-inner {color: map-get($colors, accent); flex-direction: column;}}}
}
