page-solve {

    .header-title { font-size: 10px; margin: auto; }
    .examTitle { white-space: normal; font-size:17px; margin-left: 10px; margin-right: 10px; }
    .list { border: 1px solid #566270; margin-left: 10px; margin-right: 10px; }
    .text { white-space: normal; }

}
