<ion-header>
  <ion-navbar>
    <ion-title>회원가입</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">
    <ion-grid class="form-signup">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label color="primary" fixed>이메일</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="( user.get('email').hasError('email_check') || user.get('email').hasError('required') ) && user.get('email').touched">
            <ng-container *ngFor="let validation of validation_messages.email" >
              <div class="error" *ngIf="user.get('email').hasError(validation.type) && user.get('email').touched">
                {{ validation.message }}
              </div>
            </ng-container>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label color="primary" fixed>닉네임</ion-label>
            <ion-input type="text" formControlName="nickname" placeholder="영문 / 숫자 4~12자"></ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="( user.get('nickname').hasError('nickname_check') || user.get('nickname').hasError('required') ) && user.get('nickname').touched">
            <ng-container *ngFor="let validation of validation_messages.nickname" >
              <div class="error" *ngIf="user.get('nickname').hasError(validation.type) && user.get('nickname').touched">
                {{ validation.message }}
              </div>
            </ng-container>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label color="primary" fixed>비밀번호</ion-label>
            <ion-input type="password" formControlName="password" placeholder="영문 / 숫자 4~12자"></ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="( user.get('password').hasError('password_check') || user.get('password').hasError('required') ) && user.get('password').touched">
            <ng-container *ngFor="let validation of validation_messages.password" >
              <div class="error" *ngIf="user.get('password').hasError(validation.type) && user.get('password').touched">
                {{ validation.message }}
              </div>
            </ng-container>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label color="primary" fixed>비밀번호 확인</ion-label>
            <ion-input type="password" formControlName="password_confirm" placeholder="영문 / 숫자 4~12자"></ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="(user.hasError('pw_mismatch') || user.get('password_confirm').hasError('required')) && user.get('password_confirm').touched">
            <ng-container *ngFor="let validation of validation_messages.password_confirm" >
              <div class="error" *ngIf="user.get('password_confirm').hasError(validation.type) && user.get('password_confirm').touched">
                {{ validation.message }}
              </div>
            </ng-container>
            <ng-container *ngFor="let validation of validation_messages.isMatching" >
              <div class="error" *ngIf="user.hasError(validation.type) && user.get('password_confirm').touched">
                {{ validation.message }}
              </div>
            </ng-container>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="margin-top-20">
        <ion-col>
          <ion-item no-lines>
            <ion-checkbox formControlName="agreeTotal" (click)="updateAgree(0)"></ion-checkbox>
            <ion-label>전체 동의</ion-label>
          </ion-item>
          <div class="div-agree">
            <ion-item no-lines>
              <ion-checkbox formControlName="agreeTermsOfUse" (click)="updateAgree(1)"></ion-checkbox>
              <ion-label>서비스 이용약관</ion-label>
              <button type="button" ion-button outline item-end (click)="view_agree(1)">전문보기</button>
            </ion-item>
            <ion-item no-lines>
              <ion-checkbox formControlName="agreePrivacyPolicy" (click)="updateAgree(2)"></ion-checkbox>
              <ion-label>개인정보 취급방침</ion-label>
              <button type="button" ion-button outline item-end (click)="view_agree(2)">전문보기</button>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="margin-top-20">
        <ion-col>
          <button type="submit" ion-button block large [disabled]="user.invalid">회원가입</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
