<ion-header no-border>
  <ion-toolbar>
    <ion-row>
      <ion-col col-4>
        <button ion-button menuToggle>
          <ion-icon name="mico-bars"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-4>
        <ion-title>{{ 'APP_NAME' | translate }}</ion-title>
      </ion-col>
      <ion-col col-4>
        <ion-buttons end>
          <button ion-button default>
            <ion-icon name="mico-app"></ion-icon>
          </button>
          <button ion-button default (click)="memberInfo()">
            <ion-icon name="mico-user-bold"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-navbar>
    <ion-title>{{ 'NOTICE_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="swipe-content" (swipe)="swipeEvent($event)">
    <ion-list>
      <ion-item *ngFor="let item of notices | async">
        <button ion-item [ngClass]="(item.expanded) ? 'expanded':''" (click)="expandItem(item)">{{ item.title }}</button>
        <p class="line-breaker" *ngIf="item.expanded" [innerHtml]="item.content"></p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
